.bg-noticias {
  background: url(./assets/images/noticias-background.png);
}

small {
  font-size: 9px;
}

.purple-hover:hover {
  color: var(--purple);
}

.noticia-1 {
  background: url(./assets/images/noticia-1.jpeg);
  background-size: cover;
  height: 560px;
  width: 540px;
}

.noticia-2 {
  background: url(./assets/images/noticia-2.jpeg);
  background-size: cover;
  height: 250px;
  width: 540px;
}

.noticia-3 {
  background: url(./assets/images/noticia-3.jpeg);
  background-size: cover;
  height: 250px;
  width: 540px;
}

.banner {
  background: url(../../assets/images/noticias-banner.jpeg);
  background-size: cover;
  background-position: bottom;
}

.btn-noticias {
  color: var(--purple);
  padding: 14px 34px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
}

.btn-noticias:hover {
  color: var(--purple);
  border: 1px solid var(--purple);
}

.bg-now {
  background-color: rgba(107, 43, 135, 0.2);
}

.img-resize-now {
  height: 100px;
  width: 100px;
  background-position: center;
  object-fit: cover;
}
.card {
  height: 100px;
  width: 350px;
}

.card:hover {
  color: var(--purple);
}

.card-text {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  font-size: 16px;
  font-weight: bold;
}
