.fs-14 {
	font-size: 14px;
}

.fs-15 {
	font-size: 15px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.w-180 {
	width: 180px;
}

.no-wrap {
	white-space: nowrap;
}

.index-bg-main {
	background-color: var(--bg-color);
}

.index-bg-secondary {
	background-color: var(--sbg-color);
}

.index-bg-services {
	background-color: var(--green);
}

.left-content {
	background-color: #6a2b86;
}

.card-size {
	height: 124px;
	width: 174px;
}

.icon {
	font-size: 40px;
}

.pointer {
	cursor: pointer;
}

.underline:hover {
	text-decoration: underline;
}

.text-hover:hover {
	color: white;
	background-color: var(--green);
}

.card-hover:hover {
	background-color: rgba(107, 44, 135, 0.2);
}

.noticia-principal {
	height: 300px;
	background: url(../assets/images/index-noticia-1.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-noticia {
	width: 50%;
}

.banner-noticia-2 {
	height: 170px;
}

.card-noticia-2 {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	transition: border, 0.4s;
}

.card-noticia-2:hover {
	color: var(--purple);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.texto-noticia {
	color: black;
	padding-top: 220px;
}

.card-lateral {
	width: 270px;
	height: 270px;
}

@media (width >= 1024px) {
	.index-esquerda {
		width: 50%;
	}
	.index-direita {
		width: 50%;
	}
}
@media (width <= 1024px) {
	.img-resize {
		width: 50%;
	}
}

.borda {
	border: 1px solid red;
}

/* PAGINA CONTATO */

/* PAGINA EVENTOS */
.facebook {
	list-style: none;
	margin-left: 25px;
	color: blue;
}
.instagram {
	list-style: none;
	margin-left: 25px;
	color: pink;
}

.twitter {
	list-style: none;
	margin-left: 25px;
	color: aqua;
}

.seletor {
	display: flex;
}

.gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 12vw;
	padding: 4vw;
}

.gallery-items {
	width: 223px;
	height: 180px;
	flex-grow: 0.2;
	transition: transform 0.5s linear;
}
.gallery-items img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-items:hover {
	filter: grayscale();
	transition: filter 0.4s ease-in-out;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #dabfbf;
}

/* PAGINA HISTÓRIA */
.setor-pref {
	display: flex;
	margin: 50px;
	padding: 50px;
}

.trespref {
	display: block;
}

.pref-card {
	background-color: #421869;
	border-radius: 5px;
	color: white;
}
.mandato {
	background-color: #6a2b86;
	border-radius: 50px;
	padding: 10px;
	color: white;
	font-size: 1.2rem;
}

.ano-pref {
	color: white;
}

.mandato:hover {
	background-color: #80c423;
}

.histdesr {
	display: flex;
	margin: 50px;
}

.histdesr p {
	margin: 20px;
}

.imghist img {
	margin-bottom: 20px;
	padding: 30px;
}
.histpt1 {
	display: flex;
	text-align: left;
}
.histpt1 p {
	margin: 30px;
}

.ouv-miolo {
	display: flex;
	margin: auto;
}

.ouv-miolo p {
	margin: auto;
	justify-content: left;
	height: auto;
}
.iconesouv img {
	margin: 20px;
	background-color: #421869;
	border-radius: 30px;
}

.tabelaouv {
	background-color: #6a2b86;
	border-radius: 10px;
}

.tabelaouv ul li {
	color: white;
	background-color: #6a2b86;
}

.infouvidoria p {
	text-align: left;
}

.iconesouvidoria {
	color: #80c423;
	font-size: 70px;
	margin: 30px;
	background-color: white;
}

.tabelaouv ul li:hover {
	color: white;
	background-color: #80c423;
	border-radius: 20px;
}

@media (max-width: 767.98px) {
	.imghist img {
		display: block;
		margin: 70px;
	}

	.histdesr {
		display: block;
		margin: 50px;
	}

	.histdesr p {
		margin: 20px;
		text-align: left;
	}

	.histpt1 img {
		margin: 30px;
	}

	.infouvidoria {
		display: flex;
		float: left;
	}

	.setor-pref {
		display: block;
		margin: auto;
		padding: 50px;
	}

	.histdesr {
		margin: auto;
	}

	.imghist {
		margin: auto;
	}

	.histpt1 {
		display: block;
		margin: auto;
		text-align: left;
	}

	.ouv-miolo {
		display: block;
	}
	.tabelaouv {
		display: flex;
	}
}

/* PAGINA NOTÍCIAS */
.bg-noticias {
	background: url(./assets/images/noticias-background.png);
}

small {
	font-size: 9px;
}

.purple-hover:hover {
	color: var(--purple);
}

.noticia-1 {
	background: url(./assets/images/noticia-1.jpeg);
	background-size: cover;
	height: 560px;
	width: 540px;
}

.noticia-2 {
	background: url(./assets/images/noticia-2.jpeg);
	background-size: cover;
	height: 250px;
	width: 540px;
}

.noticia-3 {
	background: url(./assets/images/noticia-3.jpeg);
	background-size: cover;
	height: 250px;
	width: 540px;
}

.banner {
	background: url(../../assets/images/noticias-banner.jpeg);
	background-size: cover;
	background-position: bottom;
}

.btn-noticias {
	color: var(--purple);
	padding: 14px 34px;
	background: #fff;
	border: 1px solid transparent;
	border-radius: 50px;
	font-size: 20px;
	font-weight: 700;
}

.btn-noticias:hover {
	color: var(--purple);
	border: 1px solid var(--purple);
}

.bg-now {
	background-color: rgba(107, 43, 135, 0.2);
}

.img-resize-now {
	height: 100px;
	width: 100px;
	background-position: center;
	object-fit: cover;
}
.card {
	height: 100px;
	width: 350px;
}

.card:hover {
	color: var(--purple);
}

.card-text {
	width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;
	font-size: 16px;
	font-weight: bold;
}

/* PAGINA ÔNIBUS */
/* bus line general page */

.title-header-bus {
	padding: 10px 10px 10px 10px;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: #f2f4f4;
	color: #2a454a;
}

.link-title-bus {
	text-decoration: none;
}

.bi {
	background-color: #f2f4f4;
	color: #6a2b86;
}

/* bus line home page */
.card-home-bus {
	padding: 10px 10px 10px 10px;
	background-color: #6a2b86;
	font-size: 1.5rem;
}

.card-link-home-bus {
	background-color: #6a2b86;
	color: #ffffff;
	text-decoration: none;
}

/* bus line indivudal page */
/* destination panel card */

.destination-panel-bus {
	background-color: #f2f4f4;
	color: #000000;
	padding: 0px;
	text-decoration: none;
}
.card-header-color-bus {
	background-color: #c98bb9;
}

.list-group-item-color-bus {
	background-color: #f2f4f4;
	text-decoration: none;
}

/* PAGINA SOBRE NÓS */
/* sobre nós pagina individual */

.img-sobre-indi {
	width: 300px;
	height: 300px;
}

.btn-nos {
	background-color: var(--purple);
	color: white;
}

.btn-nos:hover {
	background-color: var(--green);
	color: white;
}

/* PAGINA REGRAS */
.setor-pref {
	display: flex;
	margin: 50px;
	padding: 50px;
}

.trespref {
	display: block;
}

.pref-card {
	background-color: #421869;
	border-radius: 5px;
	color: white;
}
.mandato {
	background-color: #6a2b86;
	border-radius: 50px;
	padding: 10px;
	color: white;
	font-size: 1.2rem;
}

.ano-pref {
	color: white;
}

.mandato:hover {
	background-color: #80c423;
}

.histdesr {
	display: flex;
	margin: 50px;
}

.histdesr p {
	margin: 20px;
}

.imghist img {
	margin-bottom: 20px;
	padding: 30px;
}
.histpt1 {
	display: flex;
	text-align: left;
}
.histpt1 p {
	margin: 30px;
}

.ouv-miolo {
	display: flex;
	margin: auto;
}

.ouv-miolo p {
	margin: auto;
	justify-content: left;
	height: auto;
}
.iconesouv img {
	margin: 20px;
}
.tabelaouv {
	background-color: #6a2b86;
	border-radius: 10px;
}

.tabelaouv ul li {
	color: white;
	background-color: #6a2b86;
}

.infouvidoria p {
	text-align: left;
}

.chatouv {
	color: #80c423;
	padding: 30px;
}

.emailouv {
	color: #80c423;
	padding: 30px;
}

.faceouv {
	color: #80c423;
	padding: 30px;
}

.wppouv {
	color: #80c423;
	padding: 30px;
}

.telouv {
	color: #80c423;
	padding: 30px;
}

.compartilheouv {
	color: #80c423;
	padding: 30px;
}

.tabelaouv ul li:hover {
	color: white;
	background-color: #80c423;
	border-radius: 20px;
}

@media (max-width: 767.98px) {
	.imghist img {
		display: block;
		margin: 70px;
	}

	.histdesr {
		display: block;
		margin: 50px;
	}

	.histdesr p {
		margin: 20px;
		text-align: left;
	}

	.histpt1 img {
		margin: 30px;
	}
	.infouvidoria {
		display: flex;
		float: left;
	}

	.setor-pref {
		display: block;
		margin: auto;
		padding: 50px;
	}

	.histdesr {
		margin: auto;
	}
	.imghist {
		margin: auto;
	}

	.histpt1 {
		display: block;
		margin: auto;
		text-align: left;
	}

	.ouv-miolo {
		display: block;
	}
	.tabelaouv {
		display: flex;
	}
}

/* PAGINA TURISMO */
.sec-turismo {
	color: #421869;
	text-align: center;
	display: flex;
	justify-content: center;
}

.corpo-turismo {
	background-color: #f2f4f4;
	justify-content: center;
}

.container-turismonav {
	display: flex;
	justify-content: center;
	width: 1080px;
	background-color: #421869;
	padding: 15px;
	border-radius: 20px;
	text-align: justify;
}

.card-text-turismonav {
	border-radius: 20px;
	margin-left: 10px;
	width: 80px;
	height: 70px;
	background-color: #fff;
	flex: 1;
	transition: 0.3s all ease;
}

.card-text-turismonav {
	justify-content: center;
	display: flex;
	align-items: center;
}
.cardttext-turismonav:hover {
	flex: 2;
	background-color: rgb(207, 207, 207);
}
