:root {
  --bg-color: #e1e5e7;
  --sbg-color: #f2f4f4;
  --green: #80c423;
  --font: "Inter", sans-serif;
  --font-color: #2a454a;
}

/* Style Reset */
* {
  font-family: var(--font);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
