.corpo {
  background-color: #6a2b86;
  display: flex;
  justify-content: center;
}
.container-turismo {
  display: flex;
  justify-content: center;
  width: 800px;
  background-color: rgb(183, 191, 188);
  padding: 15px;
  border-radius: 20px;
}

.card-turismo {
  border-radius: 20px;
  margin-left: 10px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  flex: 1;
  transition: 0.3s all ease;
}
.text-turismo {
  justify-content: center;
  display: flex;
  align-items: center;
}
.card-turismo:hover {
  flex: 2;
  background-color: rgb(207, 207, 207);
}
