.setor-pref {
  display: flex;
  margin: 50px;
  padding: 50px;
}

.trespref {
  display: block;
}

.pref-card {
  background-color: #421869;
  border-radius: 5px;
  color: white;
}
.mandato {
  background-color: #6a2b86;
  border-radius: 50px;
  padding: 10px;
  color: white;
  font-size: 1.2rem;
}

.ano-pref {
  color: white;
}

.mandato:hover {
  background-color: #80c423;
}

.histdesr {
  display: flex;
  margin: 50px;
}

.histdesr p {
  margin: 20px;
}

.imghist img {
  margin-bottom: 20px;
  padding: 30px;
}
.histpt1 {
  display: flex;
  text-align: left;
}
.histpt1 p {
  margin: 30px;
}

.ouv-miolo {
  display: flex;
  margin: auto;
}

.ouv-miolo p {
  margin: auto;
  justify-content: left;
  height: auto;
}
.iconesouv img {
  margin: 20px;
}

.tabelaouv ul li {
  color: white;
  background-color: #6a2b86;
}

.infouvidoria p {
  text-align: left;
}

@media (max-width: 767.98px) {
  .imghist img {
    display: block;
    justify-content: center;
  }

  .histdesr {
    display: block;
    margin: 50px;
  }

  .histdesr p {
    margin: 20px;
    text-align: left;
  }

  .histpt1 img {
    margin: 30px;
  }
  .infouvidoria {
    display: flex;
    float: left;
  }

  .setor-pref {
    display: block;
    margin: auto;
    padding: 50px;
  }

  .histdesr {
    margin: auto;
  }
  .imghist {
    margin: auto;
  }

  .histpt1 {
    display: block;
    margin: auto;
    text-align: left;
  }
}
