@charset "UTF-8";

.gallery-container{
    float: left;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap:20px;
    padding: 50px;
    padding-bottom: 50px;
}

.gallery-items{
    width: 200px;
    height: auto;
    
}

.gallery-items:hover{
    filter: grayscale();
	transition: filter 0.4s ease-in-out;
}

.calendario {
    float: left;
    width: 40%;
    padding-left: 20px;
    padding-top: 50px;
    
  }

@media screen and (max-width: 990px) {
    .calendario {
        display: none;
    }
    .gallery-container {
        width: 100%;
    }
} 

 
/*CSS DO CALENDÁRIO*/
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #6D3282;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display:inline-block;
  width: 12%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/*ACABOU CALENDARIO*/

a { 
    color: inherit;
    text-decoration: none; 
} 
    
a:hover {
    color: gray;
}

.description{
    text-align: justify;
    
  }

.vejaMais{
    background-color: #6D3282;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}