@charset "UTF-8";

.facebook {
	list-style: none;
	margin-left: 25px;
	color: blue;
}
.instagram {
	list-style: none;
	margin-left: 25px;
	color: pink;
}

.twitter {
	list-style: none;
	margin-left: 25px;
	color: aqua;
}

.seletor {
	display: flex;
}

.gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 12vw;
	padding: 4vw;
}

.gallery-items {
	width: 223px;
	height: 180px;
	flex-grow: 0.2;
	transition: transform 0.5s linear;
}
.gallery-items img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-items:hover {
	filter: grayscale();
	transition: filter 0.4s ease-in-out;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #dabfbf;
}
